<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.rjfun.cordova.mmedia"
	version="2.0.2">
      
    <name>Millennial Media Ad</name>
	<description>Cordova/PhoneGap plugin for mMedia, support Banner, Interstitial and Video Ad.</description>
	<author>Liming Xie</author>
	<license>MIT</license>
	<keywords>ad,millennial,mmedia,rjfun</keywords>
    <repo>https://github.com/floatinghotpot/cordova-mmedia.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-mmedia/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/mMedia.js" name="mMedia">
        <clobbers target="window.mMedia" />
    </js-module>

	<dependency id="com.rjfun.cordova.ad"/>
    <dependency id="com.mmedia.sdk"/>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="mMedia">
                <param name="android-package" value="com.rjfun.cordova.mmedia.mMediaAdPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/mMediaAdPlugin.java" target-dir="src/com/rjfun/cordova/mmedia" />
     </platform>
     
     <!-- ios -->
     <platform name="ios">
         <config-file target="config.xml" parent="/*">
             <feature name="mMedia">
                 <param name="ios-package" value="mMediaAdPlugin" />
             </feature>
         </config-file>
         <header-file src="src/ios/mMediaAdPlugin.h"/>
         <source-file src="src/ios/mMediaAdPlugin.m"/>
	</platform>

</plugin>
